<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">大魏工作情報站</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%# link_to("Products", products_path) %>
        </li>

      </ul>



      <ul class="nav navbar-nav navbar-right">
        
        <li> <%= link_to("日薪專區", day_jobs_path ) %>       </li>
        <li> <%= link_to("關於本站", "/pages/about") %>       </li>
        
        <li> <%= link_to("訂閱工作快遞", new_subscription_path) %> </li>

        <% if signed_in? %>
          <li id="fat-menu" class="dropdown">
            <a href='#' class="dropdown-toggle" data-toggle="dropdown">Hi，<%= current_user.email %> <span class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <!--以下只有管理員才能看到功能-->
              <%if current_user.is_admin? %>

                <li class="divider"></li>
                <li> <%= link_to("所有使用者", "") %> </li>
              <li> <%= link_to("管理員控制台", rails_admin_path) %> </li>
              <% end %>

              <li class="divider"></li>
              <li>
                <%= link_to("登出", destroy_user_session_path, :method => :delete ) %>
              </li>
            </ul>
          </li>

        <% else %>
            <li><%= link_to("登入", new_user_session_path) %></li>
        <% end %>

        </ul>
      </li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>